#wrap{
    width: 49%;
    height: 50vh;
    padding: 30px;
    margin: 10px 0;
    border-radius: 20px;
    -webkit-box-shadow: -2px 10px 39px -20px rgba(0,0,0,0.46);
    -moz-box-shadow: -2px 10px 39px -20px rgba(0,0,0,0.46);
    box-shadow: -2px 10px 39px -20px rgba(0,0,0,0.46);
    background-color: white;
}