#btn {
    position: fixed; 
    opacity: 0; 
}
#btnActive{
    position: fixed;
    opacity: 1; 
    bottom: 3%; 
    right: 3%;
    width: 40px; 
    height: 40px;
    background-color: whitesmoke;
    font-size: 30px;
    color: lightslategray;
    border: 0;
}
#btnActive:hover{
    color:black;
}