#searchBox{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    width:60%;
    height: 50%;
    background-color: rgb(58, 57, 57);
    border-radius: 40px;
}
#searchText{
    width:70%;
}
input{
    width:100%;
    height:80%;
    border: 0;
    font-size: large;
    background-color: rgb(58, 57, 57);
    color: rgb(233, 233, 233);
}
#reset{
    display:flex;
    align-items: center;
    height:80%;
    font-size:large;
    color: rgb(160, 160, 160);
}
#searchIcon{
    display:flex;
    align-items: center;
    height:80%;
    font-size: large;
    color: rgb(160, 160, 160);
}
#barrierActive{
    opacity:1;
    height: 60%;
    width: 1px;
    background-color: rgb(160, 160, 160);
}
#barrierInactive{
    opacity:0;
}
#resetInactive{
    opacity:0;
}
input:focus{
    outline: none;
}
#searchBox:focus-within{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    border: 1px solid lightslategray;
}

#reset:hover, #searchIcon:hover, #microphone:hover {
    color: lightgray;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#linkSearch{
    height:100%;
    color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:767px){
    input{
        width:100%;
        height:80%;
        border: 0;
        font-size: large;
        background-color: rgb(58, 57, 57);
        color: rgb(233, 233, 233);
        padding-left:20px;
    }
    #searchText{
        width:50%;
        border-radius: 10px;
    }
    #reset{
        display:flex;
        align-items: center;
        height:80%;
        font-size:small;
        color: rgb(160, 160, 160);
    }
    #microphone{
        display:flex;
        align-items: center;
        height:80%;
        font-size:small;
        color: rgb(160, 160, 160);
    }
    #searchIcon{
        display:flex;
        align-items: center;
        height:80%;
        font-size: small;
        color: rgb(160, 160, 160);
    }
    #barrierActive{
        opacity:1;
        height: 60%;
        width: 1px;
        background-color: rgb(160, 160, 160);
    }
}