#topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#midContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heightControll {
    margin-top: 5px;
    margin-bottom: 5px;
}

#gridDiv {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding: 50px;
    width: 100%;
    padding-top: 70px;
}

#btmButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:767px){
    #topContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

    #gridDiv {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, minmax(auto, 767px));
        column-gap: 30px;
        padding: 50px;
        width: 100%;
        padding-top: 70px;
    }

    #btmButtonDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
